{% extends "layout.html" %}

{% block title %}
About Us
{% endblock %}

{% block content %}
<section class="about-us">
    <h1>About Us</h1>
    <p>
        Welcome to the Lahman Baseball Database Project! This website is developed as part of our 
        <strong>Database Systems Course</strong>, where we explore and implement key database concepts using real-world datasets.
    </p>
    <p>
        <!-- T0D0 -->
    </p>
    <div class="team">
        <h2>Meet Our Team</h2>
        <ul>
            <li><strong>Teams</strong> - Büşra Özdemir</li>
            <li><strong>Fielding</strong> - Sevim Eftal Akşehirli</li>
            <li><strong>Batting</strong> - Aslı Ye </li>
            <li><strong>Master (Players)
            </strong> - Recep Sefa Turgut </li>
            <li><strong>Pitching</strong> - Eylül Zeynep Pınarbaşı </li>
        </ul>
    </div>
    <p class="closing">
        Thank you for visiting our project.
    </p>
</section>
{% endblock %}
