<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lahman Baseball Data - {% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home_page') }}">Home</a></li>
                <li><a href="{{ url_for('teams_page') }}">Teams</a></li>
                <li><a href="{{ url_for('fielding_page') }}">Fielding</a></li>
                <li><a href="{{ url_for('pitching_page') }}">Pitching</a></li>
                <li><a href="{{ url_for('master_options') }}">Master</a></li>
                <li><a href="{{ url_for('about_page') }}">About Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}Default Content{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Lahman Baseball Data - Tüm hakları saklıdır</p>
    </footer>
</body>
</html>
