{% extends "layout.html" %}
{% block title %}Master{% endblock %}
{% block content %}
    <h1 class="title">Master</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Player ID</th>
                <th>Birth Year</th>
                <th>Birth Month</th>
                <th>Birth Day</th>
                <th>Birth Country</th>
                <th>Birth State</th>
                <th>Birth City</th>
                <th>Death Year</th>
                <th>Death Month</th>
                <th>Death Day</th>
                <th>Death Country</th>
                <th>Death State</th>
                <th>Death City</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Given Name</th>
                <th>Weight</th>
                <th>Height</th>
                <th>Bats</th>
                <th>Throws</th>
                <th>Debut</th>
                <th>Final Game</th>
                <th>Retro ID</th>
                <th>BBRef ID</th>
            </tr>
        </thead>
        <tbody>
            {% for record in master_records %}
                <tr>
                    <td>{{ record.playerID }}</td>
                    <td>{{ record.birthYear }}</td>
                    <td>{{ record.birthMonth }}</td>
                    <td>{{ record.birthDay }}</td>
                    <td>{{ record.birthCountry }}</td>
                    <td>{{ record.birthState }}</td>
                    <td>{{ record.birthCity }}</td>
                    <td>{{ record.deathYear }}</td>
                    <td>{{ record.deathMonth }}</td>
                    <td>{{ record.deathDay }}</td>
                    <td>{{ record.deathCountry }}</td>
                    <td>{{ record.deathState }}</td>
                    <td>{{ record.deathCity }}</td>
                    <td>{{ record.nameFirst }}</td>
                    <td>{{ record.nameLast }}</td>
                    <td>{{ record.nameGiven }}</td>
                    <td>{{ record.weight }}</td>
                    <td>{{ record.height }}</td>
                    <td>{{ record.bats }}</td>
                    <td>{{ record.throws }}</td>
                    <td>{{ record.debut }}</td>
                    <td>{{ record.finalGame }}</td>
                    <td>{{ record.retroID }}</td>
                    <td>{{ record.bbrefID }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
