{% extends "layout.html" %}

{% block content %}
<h1>Master Table</h1>
{% if search_query %}
    <p>Showing results for search query: "{{ search_query }}"</p>
{% else %}
    <p>Displaying all data.</p>
{% endif %}

<!-- Table -->
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Player ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birth Year</th>
            <th>Birth Country</th>
            <th>Birth State</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Bats</th>
            <th>Throws</th>
        </tr>
    </thead>
    <tbody>
        {% if master_data %}
            {% for row in master_data %}
            <tr>
                <td>{{ row.ID }}</td>
                <td>{{ row.playerID }}</td>
                <td>{{ row.nameFirst }}</td>
                <td>{{ row.nameLast }}</td>
                <td>{{ row.birthYear }}</td>
                <td>{{ row.birthCountry }}</td>
                <td>{{ row.birthState }}</td>
                <td>{{ row.height }}</td>
                <td>{{ row.weight }}</td>
                <td>{{ row.bats }}</td>
                <td>{{ row.throws }}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="11">No data found in Master.csv.</td>
            </tr>
        {% endif %}
    </tbody>
</table>

<a href="{{ url_for('master_options') }}">Go Back</a>
{% endblock %}
