{% extends "layout.html" %}
{% block title %}Teams{% endblock %}
{% block content %}
    <h1 class="title">Teams</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Year</th>
                <th>League</th>
                <th>Team</th>
                <th>Franchise</th>
                <th>Team's division</th>
                <th>Rank</th>
                <th>Games played</th>
                <th>Games played at home</th>
                <th>Wins</th>
                <th>Losses</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
            <tr>
                <td>{{ team.Year }}</td>
                <td>{{ team.League }}</td>
                <td>{{ team.Team }}</td>
                <td>{{ team.Franchise }}</td>
                <td>{{ team.TeamDivision }}</td>
                <td>{{ team.Rank }}</td>
                <td>{{ team.GamesPlayed }}</td>
                <td>{{ team.HomeGames }}</td>
                <td>{{ team.Wins }}</td>
                <td>{{ team.Losses }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock %}